"*":
  "atom-beautify":
    general:
      _analyticsUserId: "58ad9855-2d98-4f8d-a6ae-bf57317ce324"
      analytics: false
    sass:
      indent_size: 2
  "atom-typescript": {}
  "autoclose-html": {}
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "atom-jade"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 100
  "exception-reporting":
    userId: "e2797ec0-34ce-2763-0d11-4e246f102e5f"
  "git-plus": {}
  "highlight-line": {}
  linter: {}
  "linter-jshint": {}
  "linter-pug": {}
  "linter-rubocop":
    command: "rvm use . && bundle exec rubocop"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Compact"
  "open-in-browsers": {}
  pigments: {}
  rspec:
    command: "bundle exec rspec"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 100
".css.scss.source":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
".editorconfig.source":
  editor:
    preferredLineLength: 100
".elixir.html.text":
  editor:
    preferredLineLength: 100
".elixir.source":
  editor:
    preferredLineLength: 100
".elixir.text":
  editor:
    preferredLineLength: 100
".haml.text":
  editor:
    preferredLineLength: 100
".hamlc.text":
  editor:
    preferredLineLength: 100
".handlebars.html.text":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
".sass.source":
  editor:
    preferredLineLength: 100
".slim.text":
  editor:
    preferredLineLength: 100
".source.ts":
  editor:
    preferredLineLength: 100
".source.tsx":
  editor:
    preferredLineLength: 100
